@charset "utf-8";

/*淘抢购*/

.find {
    height: 481px;
}

.find-box .f-b-l {
    width: 420px;
    float: left;
    margin-right: 10px;
    height: 481px;
}

.f-b-l .fbl-title {
    height: 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.fbl-title h2 {
    background: url(../img/ui-1.png) no-repeat;
    background-position: -169px -100px;
    width: 70px;
    text-indent: -200px;
    font-size: 18px;
    color: #333;
    margin-top: 28px;
    font-weight: 400;
    float: left;
}

.fbl-title span {
    display: block;
    float: left;
    font-size: 20px;
    color: #ccc;
    padding: 27px 0 0 9px;
    font-family: Arial;
}

.fbl-inner {
    border: 1px solid #e6e6e6;
    width: 418px;
    height: 419px;
    background: #fff;
    overflow: hidden;
}

.fbl-inner a {
    display: block;
    float: left;
}

.fbl-inner .fbp-border {
    border-bottom: 1px dashed #eee;
}


/*淘抢购中间盒子*/

.fbl-title .m-icon {
    background-position: -169px -132px;
}


/*淘抢购右边盒子*/

.f-b-r {
    width: 340px;
    float: right;
}

.f-b-r .fbr-title {
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.fbr-title h2 {
    background: url(../img/ui-1.png) -169px -164px no-repeat;
    width: 70px;
    text-indent: -200px;
    font-size: 18px;
    color: #333;
    margin-top: 28px;
    font-weight: 400;
    float: left;
}

.fbr-title span {
    display: block;
    float: left;
    font-size: 20px;
    color: #ccc;
    padding: 27px 0 0 9px;
    font-family: Arial;
}

.fbr-inner {
    border: 1px solid #e6e6e6;
    width: 338px;
    height: 419px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.fbr-inner a {
    display: block;
    float: left;
}

.fbr-rbox {
    border-left: 1px solid #eee;
    height: 419px;
    position: absolute;
    top: 0;
    right: 0;
    width: 119px;
}

.fbr-inner .fbr-rbox a {
    display: block;
    height: 59px;
    width: 118px;
    text-align: center;
    border-bottom: 1px #eee dashed;
    opacity: .9;
}

.fbr-rbox a img {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-top: 15px;
}


/*领券中心*/

.quan {
    margin-top: 20px!important;
    height: 110px;
}

.quan div {
    float: left;
}

.quan ul {
    width: 1040px;
    float: left;
}

.quan ul img {
    margin-left: -1px;
    border: none
}

.quan ul li {
    float: left;
    width: 208px;
    height: 110px;
    overflow: hidden;
}

.quan ul li a {
    border-right: 1px dashed #ddd;
    display: inline-block;
    width: 207px;
    height: 110px;
    overflow: hidden;
}

.quan .quan-r {
    width: 38px;
    float: right;
}


/*楼层样式范本*/


/*标题*/


/*楼增右边盒子--数据库*/


/*楼增右边盒子--数据库*/


/*楼梯导航*/

#f-navbox {
    z-index: 960;
    position: fixed;
    left: 36.8px;
    top: 24px;
    display: block;
    width: 66px;
    background: #fff;
}

#f-navbox .fl-nav {
    background: #f6f6f6;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    line-height: 31px;
    width: 64px;
    border: 1px solid #e6e6e6;
    text-align: center;
}


/*楼梯列表*/

#f-navbox li {
    position: relative;
    height: 43px;
    border-top: none;
    line-height: 5px;
    cursor: pointer;
    width: 64px;
    border: 1px solid #e6e6e6;
    text-align: center;
}

#f-navbox li a {
    overflow: hidden;
    height: 43px;
    font-size: 12px;
    color: #5e5e5e;
    display: inline-block;
    width: auto;
    margin-left: -5px;
    margin-top: 10px;
}

#f-navbox li span {
    height: 12px;
    line-height: 12px;
    color: #777;
    padding-top: 8px;
    padding-bottom: 1px;
    cursor: pointer;
}

#f-navbox li p {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    cursor: pointer;
    width: 48px;
    margin-left: 8px;
}

#f-navbox li b {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: url(../img/ui-1.png) -152px 0 no-repeat;
    z-index: 2;
    display: none;
}


/*回到顶部 回到底部*/

#f-navbox .fl-goto li {
    height: 29px;
    text-align: center;
}

#f-navbox .fl-goto .flTop a {
    display: inline-block;
    width: 17px;
    height: 9px;
    background: url(../img/ui-1.png) -216px -52px no-repeat;
    margin-top: 10px;
}

#f-navbox .fl-goto .flBottom a {
    display: inline-block;
    margin-top: 10px;
    width: 17px;
    height: 9px;
    background: url(../img/ui-1.png) no-repeat -216px 0;
}